body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #4B4F4A;
}

.container {
	width: 100%;
	max-width: 100%;
	max-width: 1100px;
}


.container-3 {
	width: 33%;
	float: left;
	display: inline-flex;
}

#steps-container {
	background-color: rgb(248, 247, 242);
    padding-bottom: 40px;
    padding-top: 50px;
}

.divWrapper {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 0px;
    font-weight: 300;
    font-size: 1.5em;
    color: #696969;
}

#steps img {
	width: 100%;
}


.step-text {
	width: 60%;
	float: left;
}

.step-square{
	width: 40%;
	float: left;
}

.step-square img {
	width: 100%;
	height: 100%;
}

#signup {
	text-decoration: none;
}

#top {
	background-color: #FFF;
	padding: 0%;
	background-image: url('images/background.jpg');
	background-size: cover;
	background-position: center bottom;
}

#mid {
    padding-top: 110px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

#logo {
	opacity: 0.5;
	width:	15%;
	min-width: 100px;
	max-width: 300px;
	margin-right: 20px;
	margin-top: 20px;
}

#brands {
	background: rgba(163, 154, 143, 0.69);
    height: auto;
    max-width: 100%;
    margin-top: 0px;
}

.img-redbull {
width: 11.0%;
}
.img-maker {
width: 5.1%;
}
.img-channel-5 {
width: 14.0%;
}
.img-svt {
width: 8.35%;
}
.img-discovery {
width: 12.7%;
}


#steps {
	max-width: 900px;
	}

#arrow {
    width: 4em;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
    display:block;
}

.box {
    border: 2px solid #ED5555;
    padding: 25px;
    border-radius: 10px;
    font-size: 1.3em;
    margin-top: 4.5%;
}

.textbox {
	margin-top: 40px;
	max-width: 900px;
}


/* css dropdown */

.signupbox {
	margin-top: 20px;
	margin-bottom: 100px;
}

#dropdown {
    display: inline-table;
    width: 60%;
}

#signup {
	display: inline-table;
	height: 39px;
}

.form-control {
    height: 40px;
}

.input-group-addon {
	background-color: #2BBD66;
	border-color: #2BBD66;
    color: #FFF;
    width: 65%;
    font-size: 16px;
}

#basic-addon2 {
	padding: 14px 23px;
	width: 30px;
	text-decoration: none;
	border-radius: 0 5px 5px 0;
	border-color: #ccc;
}


#sizing-addon2 {
	line-height: 0.6;
	border-radius: 5px;
}

@media screen and (max-width: 500px) {

#dropdown {
    display: inline-table;
    width: 100%;
}

#signup {
	width: 100%;
	margin-top: 10px;
}

/* end css drowdown */

#steps-container {

    padding-bottom: 0px;
    padding-top: 35px;

}


}


.caption {
	float: left;
    width: 20%;
	color: #F4F2EA;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.09em;
    padding: 0.4em 0% 0em 2%;
    margin: 0 0 0 0;
}


.container.banner {
	max-height: 70px;
    max-width: 100%;
    height: auto;
}


.banner li {
    display: inline-block;
    vertical-align: bottom;
    line-height: 100%;
    padding: 0 0 0 0%;
    margin: 0 0 0 5.0%;
 }
.banner ul {
	display: inline;
    float: left;
    width: 80%;
    margin: .3em 0 .4em 0;
    padding: 0 0 0 0%;
 }
 
.img-wrap{
	max-width: 100%;
	height: auto;
}

.img-maker.img-wrap {
	width: 130%;
}
.client-logo {
	max-width: 100%;
    height: auto;
}

@media screen and (max-width: 700px) {
.caption {
      width: 45%;
      font-size: 0.6em;
    }
.banner ul {
      width: 100%;
    }
h1 {
	padding-top: 0px !important;
}

}

#terms {
	background-color: rgb(248, 247, 242);
/*background-color: #FFF;*/
	color: #CC0000;
	max-height: 100%;
}

#terms .container {
	padding-left: 0px;
	padding-right: 0px;
}

#videos{
	background-color: #FFF;
	min-height: 300px;
	margin-bottom: 30px;

}

.videoWrapper {
	margin-left: 0px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
	bottom: 0;
	margin-top: 30px;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h1 {
	
	font-size: 1.7em;
	font-weight: 300;
	color: #4B4F4A;
	padding-top: 30px;
	display: inline-block;
}

h2 {
	font-size: 2em;
	font-weight: 600;
}


p {
	font-size: 1.2em;
	font-weight: 300;
}

@media (max-width: 991px) {
	.videoWrapper {
		margin-left: 0px;
	}


